:root {
  --surface-color: #fff;
  --curve: 40;
  background-color: #fef8f8;
  overflow-x: hidden;

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
  /* margin: 0; */
  min-width: 320px;
  min-height: 100vh;
}
